<div class="form-container">
  <h2>Registro de Usuario</h2>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)">


    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        [(ngModel)]="model.nombre"
        required
        placeholder="Ingresa tu nombre"
      />
    </div>


    <div class="form-group">
      <label for="telefono">Teléfono</label>
      <input
        type="text"
        id="telefono"
        name="telefono"
        [(ngModel)]="model.telefono"
        required
        placeholder="Ingresa tu teléfono"
      />
    </div>

    <div class="form-group">
      <label for="contrasena">Contraseña</label>
      <input
        type="password"
        id="contrasena"
        name="contrasena"
        [(ngModel)]="model.contrasena"
        required
        placeholder="Ingresa tu contraseña"
      />
    </div>

    <button [disabled]="f.invalid">Crear cuenta</button>
  </form>
</div>
<section id="redes-sociales" class="mt-5 py-5">
        <div class="container text-center">
            <h2 class="mb-4" style="color: #A67C52; font-weight: 700;">No te olvides de seguirnos</h2>

        <div class="d-flex justify-content-center gap-4 fs-2">
          <a href="https://facebook.com" target="_blank" class="text-dark"><i class="bi bi-facebook"></i></a>
          <a href="https://instagram.com" target="_blank" class="text-dark"><i class="bi bi-instagram"></i></a>
          <a href="https://twitter.com" target="_blank" class="text-dark"><i class="bi bi-twitter"></i></a>
          <a href="https://tiktok.com" target="_blank" class="text-dark"><i class="bi bi-tiktok"></i></a>
       </div>

      <p class="mt-4 text-muted">
          © 2025 El Entresuelo – Todos los derechos reservados
      </p>
    </div>
 </section>






