@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.app-wrapper {
  font-family: 'Playfair Display', serif;
  background-color: #f8f5f2;
}


.navbar-boda {
  background: transparent;
  box-shadow: none;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;


  .navbar-brand-title {
    font-family: 'Playfair Display', serif;
    color: #A27B5C;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

    &:hover {
      color: darken(#A27B5C, 10%);
      transform: scale(1.03);
    }
  }


  .navbar-nav-links {
    display: flex;
    gap: 7px;
    align-items: center;

    .nav-link {
      font-family: 'Montserrat', sans-serif !important;
      font-weight: 600 !important;
      color: #333;
      font-size: 1.1rem;
      text-decoration: none;
      padding: 5px 10px;
      transition: color 0.3s ease;
      white-space: nowrap;

      &:hover {
        color: #A27B5C;
      }
    }
  }
}

/* Responsividad */
@media (max-width: 768px) {
  .navbar-boda {
    flex-direction: column;
    text-align: center;
    gap: 15px;

    .navbar-brand-title {
      font-size: 2.3rem;
    }

    .navbar-nav-links {
      flex-direction: column;
      gap: 10px;

      .nav-link {
        font-size: 1.2rem;
      }
    }
  }
}


