
.titulo-listado {
  color: #A67C52;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.tabla-container {
  overflow-x: auto;
  margin-bottom: 2rem;
}


.tabla-personalizada {
  width: 70%;
  margin: 0 auto;
  font-size: 0.9em;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

/* Celdas y encabezados */
.tabla-personalizada th,
.tabla-personalizada td {
  font-family: 'Montserrat', sans-serif !important;
  padding: 10px 15px;
  text-align: center;
  font-weight: 400;
}


.tabla-personalizada th,
.tabla-personalizada td {
  padding: 10px 15px;
  text-align: center;
}

.tabla-personalizada th {
  background-color: rgba(166, 124, 82, 0.8);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

.tabla-personalizada tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05); // filas alternadas
}

.tabla-personalizada tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}



.navbar-boda a.active,
.navbar-boda li.active a
{
    color: #A67C52;
    font-weight: 400;
}


.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.contenido {
  flex: 1;
  display: flex;
  flex-direction: column;
}


#redes-sociales {
  margin-top: auto;
}
